.character {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.character label {
    text-align: left;
}

.favorite-add {
    fill: orange;
    padding-right: 10px;
    font-size: 18px;
}

.favorite-add:hover {
    cursor: pointer;
    fill: yellow;
}